<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <title> Edit Product </title>
    <link rel="stylesheet" href="/static/buy.css">
</head>
<body>
 <header>
   <a href= "/login/user/{{user_id}}" style="float: right;">Back to Userpage</a>
 </header>
 <h2> {{p.name}}</h2>
  <div class= "purchase"> 
    <form oninput="total.value=quantity.value*price.value;" action="/login/user/{{user_id}}/cart/{{product_id}}/edit"  method="POST">
        <div>
           <p>Availability: Instock </p>
        </div>
        <div>
            <label>Quantity</label>
            <input type="number" min=0 step='any' name="quantity" value=" " id="a">{{p.unit}}
        </div>
        <div>
            <label>Price</label>
            <input type="number" min=0 step='any' name="price" value={{c.price}} id="b" >
        </div>
        <div>
            <label>Total</label> Rs
            <input type="number" min=0, step='any' name ="total" value="{{quantity}}*{{price}}"  id="c">
            
            <input type="submit" value = "Buy" id="buy"/>
        </div>
    </form>
  </div>  
</body>   
</html> 
