<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <header>
       <img src="https://thumbs.dreamstime.com/z/photo-collage-various-raw-fresh-cereals-legumes-spices-website-header-banner-suitable-281723125.jpg?w=992" width="1700px" height="100px" alt="grocery">
    </header>
    <div>
       <h1 class ="logo" align="center"> Grocery Store </h1> 
    </div>
    <div>
       <a href="/login" style="float:center;">USER LOGIN</a>
       <a href="/admin" style="float:center;">ADMIN LOGIN</a>
    </div>   
 </body
 </html>r
