<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <title>Update</title>
    <link rel="stylesheet" href="/static/profile.css">   
</head>
<body>
  <header>
     <a href="/login/user/{{user_id}}" style="float:right;">Back to userpage</a>
  </header>
  <h2> Update </h2>
   <div class="profile">
    <form action="/login/user/{{user_id}}/profile" method="POST" id="login-update-form">
       <div>
          <label>Username</label>
          <input type="text" name="username" value={{u.username}} id="uname"  required>
       </div>
       <div>
          <label>Name</label>
          <input type="text" name="name" value={{u.name}} id="name" required>
       </div>
       
       <div>
          <label>Email</label>
          <input type="email" name="email" value={{u.email}} id= "email" required>
       </div>
       <div>
          <label>Address</label>
          <input type="text" name="address" value={{u.address}} id ="add" required>
       </div>
       <div>
          <input type="submit" value = "Update" id= "update">
       </div>
    </form> 
    <div>
        <a href="/login/user/{{u.user_id}}/profile/cp">Change Password</a>
    </div>
  </div>
 </body>
 </html>
